@import url('https://fonts.googleapis.com/css2?family=Geologica:wght,CRSV@100..900,0&family=Overpass:ital,wght@0,100..900;1,100..900&family=Questrial&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sono:wght,MONO@200..800,1&family=Spline+Sans:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');

/* Smooth Scroll */
html {
  scroll-behavior: smooth;
}

/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: "Geologica", sans-serif;
  line-height: 1.6;
  background-color: #0f0f0f;
  color: #ffffff;
  overflow-x: hidden; /* prevents horizontal scroll bug */
}

/* Layout System */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 clamp(16px, 5vw, 80px);
}

.section {
  padding: clamp(40px, 8vw, 100px) clamp(20px, 5vw, 80px);
}

.section2 {
  padding: clamp(60px, 10vw, 140px) clamp(20px, 5vw, 80px);
}

/* Utility */
.highlight {
  color: #facc15;
}